/* Color Scheme:
#1F1E1F - Dark Grey
#563010 - Brown
#F5F5F5 - White
#641202 - Red
#E09515 - Orange */

body {
  background-color: #641202;
}

h1 {
  color: #E09515;
  margin-left: 20px;
  font-family: "fantasy", "Copperplate", "serif";
}

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #1F1E1F;
  height: 50px;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: #F5F5F5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

.search {
  float: right;
}

input{
  font-size: 15px;
  border: #E09515;
  height: 25px;

}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #F5F5F5;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #E09515;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #E09515;
  width: inherit;
  z-index: 1;
  padding: 10px;
  margin-left: 80px;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: #F5F5F5;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #563010;
  color: #1F1E1F;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagedescription{
	/* float: left;
	width: 70%;  */
  margin: 20px;
	padding: 35px; 
	border: 5px;
	border-color: #E09515;
	border-style: solid;
  text-align: center;
  color:#F5F5F5;
  font-size: 15pt;
}

.featured{
	border: 5px;
	padding: 35px;
	border: 5px;
	border-color: #1F1E1F; 
	margin-left: 30%; 
	margin-right: 30%; 
}

a:link{
	background-color: #1F1E1F; 
}

.objtitle{
	font-size: 40px; 
	color: #F5F5F5;
	width: 100%;	
}

.objimg{ 
	padding: 15px; 
	border: 5px;
	border-color: #1F1E1F; 
	margin: 15px;
}
/* .obj{
} */

.header{
	padding: 15px;
	display: block; 
	margin-left: auto;
	margin-right: auto;
  text-align: center;
}

.login{
  border-style: solid;
  border-color: #E09515;
  margin: 200px;
  text-align: center;
  color: #F5F5F5;
  font-size: 20px;
}

.button1 {
  font-size: 16px;
  margin: 10px;
  background-color: #E09515;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  font-weight: bold;
}

.input{
  margin: 3px;
}

.footer{
  color: #1F1E1F;
}

.moviedesc p{
	/* float: left; */
	/* width: 70%;  */
	/* padding: 35px;  */
	border: 5px;
	border-color: #E09515;
	border-style: solid;
  text-align: center;
  color:#F5F5F5;
  font-size: 15pt;
}